.divider {
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    color: #ADD8E6;
    background-color: black;
    text-align: center;
    
}

#smallmsg {
font-size: 10px;
font-family: 'Times New Roman', Times, serif;
color: #FF007F;


}